includes:
  - vendor/larastan/larastan/extension.neon

parameters:
  paths:
    - app/
    - bootstrap/
#  reportUnmatchedIgnoredErrors: false

#  treatPhpDocTypesAsCertain: false
#
#  universalObjectCratesClasses:
#    - Illuminate\Database\Eloquent\Relations\Pivot
#    - Illuminate\Http\Resources\Json\JsonResource

  level: 9

  ignoreErrors:
#    -
#      message: "#Unsafe usage of new static#"
#      paths:
#        - app/Traits/*
#        - app/*/Concerns/*
