includes:
  - vendor/larastan/larastan/extension.neon

parameters:
  paths:
    - app/
#  reportUnmatchedIgnoredErrors: false

# 0 is the loosest and 9 is the strictest
  level: 9

  ignoreErrors:
#    -
#      message: "#Unsafe usage of new static#"
#      paths:
#        - app/Contracts
#        - app/Support
# Laravel Framework Rules https://github.com/laravel/framework/blob/11.x/phpstan.src.neon.dist
#    - "#\\(void\\) is used#"
#    - "#Access to an undefined property#"
#    - "#Call to an undefined method#"
#    - "#but return statement is missing.#"
#    - "#Caught class [a-zA-Z0-9\\\\_]+ not found.#"
#    - "#Class [a-zA-Z0-9\\\\_]+ not found.#"
#    - "#has invalid type#"
#    - "#should always throw an exception or terminate script execution#"
#    - "#Instantiated class [a-zA-Z0-9\\\\_]+ not found.#"
#    - "#Unsafe usage of new static#"
#
#    ignoreErrors:
#        - '#PHPDoc tag @var#'
#
#    excludePaths:
#        - ./*/*/FileToBeExcluded.php
#
#    checkMissingIterableValueType: false
